<!DOCTYPE html>
<html lang="en" ng-app="devApp">

<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles3.css">
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DevMtin</title>
</head>

<body ng-controller="devCtrl">

  <!-- Header -->
	<div class="l-header">
		<h1>{{myProfile.name || 'Your Name' }}</h1>
	</div>

  <!-- Profile Form menu -->
  <div class="wrapper">
    <div>
      <h2>Profile</h2>
      <button ng-click="edit()" class="l-btn l-btn-main">{{editButton}}</button>
    </div>
    <div>
      <input ng-model="myProfile.name" id="name" ng-disabled="!editing" type="text" placeholder="Your Name"><br />
      <input ng-model="myProfile.likes" id="likes" ng-disabled="!editing" type="text" placeholder="Likes"><br />
      <input ng-model="myProfile.favColor" id="favColor" ng-disabled="!editing" type="text" placeholder="Favorite Color"><br />
      <button class="l-btn l-btn-success" ng-click="saveProfile(myProfile)">Save</button>
      <button class="l-btn l-btn-danger" ng-click="deleteProfile()">Delete</button>
    </div>
  </div>

  <!-- Friends List -->
  <div class="l-container">
    <h2>Friends</h2>
    <button class="l-btn l-btn-main" ng-click="findFriends(findFriend.name)">Go</button>
    <input ng-model="findFriend.name" type="text" placeholder="Find Friends">
    <select ng-model="sortReverse" ng-options="option.value as option.display for option in sortOptions"></select>
    <div class="friendList" ng-repeat="friend in myProfile.friends | filter: findFriend.name | orderBy: 'name' : sortReverse">
      <span class="closeBtn"></span>
        {{friend.name}}
      <br />
      <div class="secondConnection friendList">
        My Second Connections
      </div>
    </div>
  </div>

	<div id="myModalMask">
		<div id="myModal">
			<div>
				<div class="modalTitle">
				<span class="closeBtn"></span>
					Add Friends
				</div>
					<br />
          Potential Friends
				<div class="friendList" ng-repeat="friend in potentialFriends">
					<span class="friend" ng-click="addFriend(friend._id)"></span>{{friend.name}}
				</div>
			</div>
		</div>
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="devApp.js"></script>
  <script src="profileService.js"></script>
  <script src="friendService.js"></script>
  <script src="devCtrl.js"></script>
</body>

</html>
